body{
    background: url('../imag/hp.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
}
input::-webkit-input-placeholder{
    color: #000;opacity:1;
}
#login-box{
    width: 30%;
    height: auto;
    margin: 0 auto;
    margin-top: 15%;
    text-align: center;
    padding: 20px 50px;
    /*background: #00000060;*/
}
#login-box h1{
    /*color: #fff;*/
    color: yellow;
    /*background:linear-gradient(to right,#f30909 0%,#4013e6e1 100%);*/
}
/*span{*/
    /*background:linear-gradient(to right,#f30909 0%,#4013e6e1 100%);*/
/*}*/
#login-box.form.item input{
    margin-top: 15px;
}
#login-box.form i{
    font-size: 18px;
    color: #fff;
    /*color: yellow;*/
}
#login-box .form .item input {
    width: 180px;
    font-size: 18px;
    border: 0;
    border-bottom: 2px solid#fff;
    /*border-bottom: 2px yellow;*/
    padding: 5px 10px;
    background:#ffffff00;
    /*background: yellow;*/
    /*color: #fff;*/
    color: yellow;
}
#login-box button{
    margin-top: 15px;
    width: 180px;
    height: 30px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background:linear-gradient(to right,#f30909 0%,#4013e6e1 100%);
    border: 0;
    border-radius: 15px;
}
/*#Password{*/
/*    color: yellow;*/
/*    background: yellow;*/
/*}*/
/*#Username{*/
/*    color: yellow;*/
/*}*/